.close {
  padding: 25px 25px; }

#modal-little-feet-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-image: url(../../images/programming-coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: beige;
  visibility: hidden;
  border-radius: 15px; }
  #modal-little-feet-contain #modal-little-feet-header {
    position: absolute;
    right: 30px;
    top: 30px; }
    #modal-little-feet-contain #modal-little-feet-header span a {
      text-decoration: none;
      padding: 25px 25px;
      align-self: auto; }
  #modal-little-feet-contain #modal-little-feet-body {
    position: absolute;
    left: 30px;
    top: 40px; }
    #modal-little-feet-contain #modal-little-feet-body .image-description {
      position: relative;
      width: 60%;
      height: 100%;
      display: inline-block; }
      #modal-little-feet-contain #modal-little-feet-body .image-description .modal-project-image {
        position: relative;
        width: 100%;
        height: 50%; }
      #modal-little-feet-contain #modal-little-feet-body .image-description .link {
        margin-top: 10px; }
        #modal-little-feet-contain #modal-little-feet-body .image-description .link p a {
          margin: 15px 35px 15px 35px;
          text-decoration: none;
          color: #1515f3; }
    #modal-little-feet-contain #modal-little-feet-body .modal-project-tech {
      position: relative;
      width: 30%;
      height: 100%;
      float: right;
      clear: both;
      margin-right: 10px;
      margin-top: 45px; }
      #modal-little-feet-contain #modal-little-feet-body .modal-project-tech .modal-project-tech-used {
        position: relative;
        width: 80%;
        clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
        border-radius: 15px;
        background-color: black;
        padding: 5px;
        text-align: center; }
        #modal-little-feet-contain #modal-little-feet-body .modal-project-tech .modal-project-tech-used .modal-project-tech-text {
          color: beige;
          text-transform: uppercase; }
        #modal-little-feet-contain #modal-little-feet-body .modal-project-tech .modal-project-tech-used .modal-project-tech-img {
          position: relative;
          width: 35px;
          height: 25px; }

#modal-little-feet {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  z-index: -5; }

#modal-little-feet:target {
  z-index: 10;
  visibility: visible; }
  #modal-little-feet:target #modal-little-feet-contain {
    visibility: visible; }

#modal-movie-finder-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-color: beige;
  background-image: url(../../images/programming-coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
  border-radius: 15px; }
  #modal-movie-finder-contain #modal-movie-finder-header {
    position: absolute;
    right: 30px;
    top: 30px; }
    #modal-movie-finder-contain #modal-movie-finder-header span a {
      text-decoration: none;
      padding: 25px 25px; }
  #modal-movie-finder-contain #modal-movie-finder-body {
    position: absolute;
    left: 30px;
    top: 40px; }
    #modal-movie-finder-contain #modal-movie-finder-body .image-description {
      position: relative;
      width: 60%;
      height: 100%;
      display: inline-block; }
      #modal-movie-finder-contain #modal-movie-finder-body .image-description .modal-project-image {
        position: relative;
        width: 100%;
        height: 50%; }
      #modal-movie-finder-contain #modal-movie-finder-body .image-description .link {
        margin-top: 10px; }
        #modal-movie-finder-contain #modal-movie-finder-body .image-description .link p a {
          margin: 15px 35px 15px 35px;
          text-decoration: none; }
    #modal-movie-finder-contain #modal-movie-finder-body .modal-project-tech {
      position: relative;
      width: 30%;
      height: 100%;
      float: right;
      clear: both;
      margin-right: 10px;
      margin-top: 45px; }
      #modal-movie-finder-contain #modal-movie-finder-body .modal-project-tech .modal-project-tech-used {
        position: relative;
        width: 80%;
        clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
        border-radius: 15px;
        background-color: black;
        padding: 5px;
        text-align: center; }
        #modal-movie-finder-contain #modal-movie-finder-body .modal-project-tech .modal-project-tech-used .modal-project-tech-text {
          color: beige;
          text-transform: uppercase; }
        #modal-movie-finder-contain #modal-movie-finder-body .modal-project-tech .modal-project-tech-used .modal-project-tech-img {
          position: relative;
          width: 35px;
          height: 25px; }

          .modal-project-description{
            background-color: black;
            color: blanchedalmond;
            border-radius: 10%;
          }

#modal-movie-finder {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  z-index: -5; }

#modal-movie-finder:target {
  z-index: 10;
  visibility: visible; }
  #modal-movie-finder:target #modal-movie-finder-contain {
    visibility: visible; }

#close2:target {
  z-index: -5;
  visibility: hidden; }
  #close2:target #modal-movie-finder-contain {
    visibility: hidden; }

#modal-friend-finder-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-color: beige;
  background-image: url(../../images/programming-coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
  border-radius: 15px; }
  #modal-friend-finder-contain #modal-friend-finder-header {
    position: absolute;
    right: 30px;
    top: 30px; }
    #modal-friend-finder-contain #modal-friend-finder-header span a {
      text-decoration: none;
      padding: 25px 25px; }
  #modal-friend-finder-contain #modal-friend-finder-body {
    position: absolute;
    left: 30px;
    top: 40px; }
    #modal-friend-finder-contain #modal-friend-finder-body .image-description {
      position: relative;
      width: 60%;
      height: 100%;
      display: inline-block; }
      #modal-friend-finder-contain #modal-friend-finder-body .image-description .modal-project-image {
        position: relative;
        width: 100%;
        height: 50%; }
        .project-image{width: 600px; height: 40px;}
      #modal-friend-finder-contain #modal-friend-finder-body .image-description .link {
        margin-top: 10px; }
        #modal-friend-finder-contain #modal-friend-finder-body .image-description .link p a {
          margin: 15px 35px 15px 35px;
          text-decoration: none;
          color: #1515f3; }
    #modal-friend-finder-contain #modal-friend-finder-body .modal-project-tech {
      position: relative;
      width: 30%;
      height: 100%;
      float: right;
      clear: both;
      margin-right: 10px;
      margin-top: 45px; }
      #modal-friend-finder-contain #modal-friend-finder-body .modal-project-tech .modal-project-tech-used {
        position: relative;
        width: 80%;
        clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
        border-radius: 15px;
        background-color: black;
        padding: 5px;
        text-align: center; }
        #modal-friend-finder-contain #modal-friend-finder-body .modal-project-tech .modal-project-tech-used .modal-project-tech-text {
          color: beige;
          text-transform: uppercase; }
        #modal-friend-finder-contain #modal-friend-finder-body .modal-project-tech .modal-project-tech-used .modal-project-tech-img {
          position: relative;
          width: 35px;
          height: 25px; }

#modal-friend-finder {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  z-index: -2; }

#modal-friend-finder:target {
  z-index: 10;
  visibility: visible; }
  #modal-friend-finder:target #modal-friend-finder-contain {
    visibility: visible; }

#close3:target {
  z-index: -5;
  visibility: hidden; }
  #close3:target #modal-friend-finder-contain {
    visibility: hidden; }

#modal-gif-finder-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-color: beige;
  background-image: url(../../images/programming-coding.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
  border-radius: 15px; }
  #modal-gif-finder-contain #modal-gif-finder-header {
    position: absolute;
    right: 30px;
    top: 30px; }
    #modal-gif-finder-contain #modal-gif-finder-header span a {
      text-decoration: none;
      padding: 25px 25px; }
  #modal-gif-finder-contain #modal-gif-finder-body {
    position: absolute;
    left: 30px;
    top: 40px; }
    #modal-gif-finder-contain #modal-gif-finder-body .image-description {
      position: relative;
      width: 60%;
      height: 100%;
      display: inline-block; }
      #modal-gif-finder-contain #modal-gif-finder-body .image-description .modal-project-image {
        position: relative;
        width: 100%;
        height: 50%; }
      #modal-gif-finder-contain #modal-gif-finder-body .image-description .link {
        margin-top: 10px; }
        #modal-gif-finder-contain #modal-gif-finder-body .image-description .link p a {
          margin: 15px 35px 15px 35px;
          text-decoration: none;
          color: #1515f3; }
    #modal-gif-finder-contain #modal-gif-finder-body .modal-project-tech {
      position: relative;
      width: 30%;
      height: 100%;
      float: right;
      clear: both;
      margin-right: 10px;
      margin-top: 45px; }
      #modal-gif-finder-contain #modal-gif-finder-body .modal-project-tech .modal-project-tech-used {
        position: relative;
        width: 80%;
        clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
        border-radius: 15px;
        background-color: black;
        padding: 5px;
        text-align: center; }
        #modal-gif-finder-contain #modal-gif-finder-body .modal-project-tech .modal-project-tech-used .modal-project-tech-text {
          color: beige;
          /* color: blueviolet; */
          text-transform: uppercase;
          /* background-color: blueviolet;  */
        }
        #modal-gif-finder-contain #modal-gif-finder-body .modal-project-tech .modal-project-tech-used .modal-project-tech-img {
          position: relative;
          width: 35px;
          height: 25px; }

#modal-gif-finder {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  z-index: -2; }

#modal-gif-finder:target {
  z-index: 10;
  visibility: visible; }
  #modal-gif-finder:target #modal-gif-finder-contain {
    visibility: visible; }

#close4:target {
  z-index: -5;
  visibility: hidden; }
  #close4:target #modal-gif-finder-contain {
    visibility: hidden; }
